<h1>Test#test5</h1>
<p>Find me in app/views/test/test5.html.erb</p>

<pre>
<%= request.env['HTTP_COOKIE'] %>
</pre>

<!-- this script cause success -->
<script type="text/javascript">
jQuery(function($){
  $.ajax("<%= @other_url %>/test/other5", {
    xhrFields: {
      withCredentials: true
    }
  }).done(function(data, textStatus, jqXHR){
    alert(textStatus);
    $('#res').html(data);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert(textStatus);
  });
});
</script>

<div id="res">
</div>
